<h3>About</h3>

<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Magni eveniet officia rem corrupti, voluptate pariatur atque, 
    deserunt ratione ab nobis molestias eum repudiandae animi. 
    Itaque qui libero dolorem sequi delectus.
</p>

<h1> {{Title}}</h1>

<div *ngFor="let item of videoList">
    Video
    <a href="{{item.slug}}">{{item.name}}</a>
    <div style="position:relative;height:0;padding-bottom:22%">
        <iframe width="840" height="440" [src]="getEmbedUrl(item)" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
        picture-in-picture;" allowfullscreen></iframe>

    </div>
</div>